.root-pane{
    -fx-background-size: cover;
}
.left-pane{
    -fx-background-color: rgb(249,240,243);
    -fx-effect: dropshadow(three-pass-box,#FFF,8,0,0,0);
}
.tool{
    -fx-background-color:rgb(2,64,85);
}
.tool .toggle-button{
    -fx-background-color: rgb(2,64,85);
    -fx-text-fill: #FFFFFF;
}
.tool .toggle-button:selected{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: rgb(2,64,85);
}
.tool .button{
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: #FFFFFF;
}
.tool .button:hover{
    -fx-effect: dropshadow(three-pass-box,#FFF, 18, 0, 0,0);
}
.tool .circle-tog {
    -fx-background-radius: 999px;
}
.tool .circle-tog:selected {
    -fx-background-radius: 999px;
}
.btn{
    -fx-background-color: rgb(249,240,243);
    -fx-text-fill: rgb(2,64,85);
    -fx-border-width: 0 0 3.4 0;
    -fx-border-color: rgb(2,64,85);
    -fx-padding: 5.0;
}
.btn :pressed{
    -fx-effect: dropshadow(three-pass-box, rgb(2,64,85), 10, 0, 0,0);
}
.txt{
    -fx-background-color: rgb(249,240,243);
    -fx-border-width: 0 0 3 0;
    -fx-border-color: rgb(2,64,85);
    -fx-prompt-text-fill: rgba(2,64,85,0.8);
}
.txt:focused{
    -fx-prompt-text-fill: rgba(0,0,0,0);
}
.tree{
    -fx-background-color: rgba(0,0,0,0);
}
.tree .tree-cell{
    -fx-background-color: rgba(0,0,0,0);
    -fx-font-size: 14px;
}
.tree .tree-cell .button{
    -fx-background-color: #2B3F52;
    -fx-text-fill: rgba(218,249,202,1);
}
.tree .tree-cell:selected .button{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #2B3F52;
}
.tree .tree-cell:selected{
    -fx-background-color: rgba(0,0,0,0.6);
    -fx-text-fill: #FFF;
}
.tree-border{
    -fx-border-color: #2B3F52;
    -fx-border-width: 1px;
    -fx-border-style: dashed;
}
.tree-border .tree-cell{
    -fx-background-color: rgb(249,242,243);
}
.list-bg{
    -fx-background-color: rgba(0,0,0,0);
}
.list{
    -fx-background-color: rgba(0,0,0,0.4);
}
.list .list-cell{
    -fx-background-color: rgba(0,0,0,0);
}
.code-area{
    -fx-font-size: 16px;
    -fx-background-color: rgba(0,0,0,0.68);
}
.code-area .text{
    -fx-fill: #FFF;
}
.code-tool{
    -fx-background-color: rgba(8,17,38,0.6);
}
.code-tool .tool-bar{
    -fx-background-color: rgba(0,0,0,0);
}
.code-tool .button{
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: #FFFFFF;
}
.code-tool .button:hover{
    -fx-effect: dropshadow(three-pass-box,#FFF, 18, 0, 0,0);
}
.code-tool .label{
    -fx-text-fill: #FFF;
}
.comb{
    -fx-background-color: rgba(0,0,0,0);
    -fx-prompt-text-fill: rgba(255,255,255,0.6);
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 0 0 2 0;
}
.comb > *{
    -fx-text-fill: #FFFFFF;
}
.comb-dark{
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: #FFFFFF;
    -fx-border-color: rgb(2,64,85);
    -fx-prompt-text-fill: rgba(2,64,85,0.8);
    -fx-border-width: 0 0 2 0;
}
.btn-ghost{
    -fx-border-color: #FFF;
    -fx-border-width: 1px;
    -fx-border-style: dashed;
}
.btn-sel *{
    -fx-text-fill: #FFF;
}
.btn-sel{
    -fx-background-color: rgba(0,0,0,0);
}
.btn-sel .arrow{
    -fx-background-color: #FFFFFF;
}
.btn-sel .context-menu{
    -fx-background-radius: 6px;
    -fx-background-color: rgba(0,0,0,0.6);
}
.btn-sel .context-menu .menu-item:focused{
    -fx-background-color: rgba(45,53,38,0.6);
}
.split-pane{
    -fx-background-color: rgba(0,0,0,0);
}
.title-field{
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: #FFFFFF;
    -fx-prompt-text-fill: rgba(255,255,255,0.8);
    -fx-border-color: #FFFFFF;
    -fx-border-width: 0 0 2 0;
}
.title-field :focused{
    -fx-prompt-text-fill: rgba(0,0,0,0);
}
.btn-normal{
    -fx-background-color: #2B3F52 ;
    -fx-text-fill: #FFFFFF;
}
.list-img {
}
.list-img .list-cell{
    -fx-text-fill: #000;
    -fx-fill: #333333;
}
.list-img .list-cell:focused{
    -fx-background-color: #2B3F52;
    -fx-text-fill: #FFFFFF;
}
.listItem .icon-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 9999;
}
.listItem .icon-bg{
    -fx-background-color: rgb(255,255,255);
}
.listItem .item-bg{
    -fx-border-color: #FFF;
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 4;
    -fx-background-color: rgba(0,0,0,0.5);
}
.listItem .item-bg-without-border{
    -fx-background-color: rgba(0,0,0,0.5);
}
.listItem .arrow{
    -fx-text-fill: rgb(255,255,255);
}
.listItem .title{
    -fx-text-fill: rgb(255,255,255);
    -fx-font-size: 18px;
}
.listItem .date{
    -fx-text-fill: #FCFCFC;
    -fx-font-size: 14px;
}
.listItem .btn-card,.table .btn-card{
    -fx-background-color: rgba(255,253,223,0.6);
    -fx-background-radius: 0;
}
.listItem .btn-card:hover,.table .btn-card:hover{
    -fx-background-color: rgba(218,249,202,1);
    -fx-background-radius: 0;
}
.table{
    -fx-background-color: rgba(0,0,0,0.8);
}
.table .column-header-background{
    -fx-background-color: rgba(0,0,0,0);
}
.table .column-header{
    -fx-background-color: rgba(0,0,0,0.1);
    -fx-border-width: 0 0 0.5 0;
    -fx-border-color: rgba(255,255,255,0.5);
    -fx-border-style: solid;
}
.table .label{
    -fx-text-fill: #FFF;
}
.table .table-row-cell{
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: #FFFFFF;
    -fx-border-width: 0 0 0.1 0;
    -fx-border-color: rgba(255,255,255,0.6);
}
.table .table-cell{
    -fx-text-fill: #FFFFFF;
    -fx-border-width: 0;
    -fx-alignment: center;
 }
.table .table-row-cell:selected{
    -fx-background-color: rgba(0,0,0,0.4);
}
.table .table-row-cell:empty{
    -fx-border-width: 0 0 0 0;
}
.radio,.check {
    -fx-text-fill: #FFFFFF;
}
.edit-menu {
    -fx-background-radius: 0;
    -fx-background-color: rgba(247,255,168,0);
    -fx-text-fill: #000;
}
.edit-menu .menu-item{
    -fx-font-size: 12px;
    -fx-background-color: rgba(255,255,255,0.6);
}
.edit-menu .menu-item:hover,.edit-menu .menu-item:selected{
    -fx-background-color: rgb(0,0,0);
    -fx-text-fill: #FFF;
}