@primaryColor: #7CA982;
@secondaryColor: #8EA4D2;
@backgroundColor: #F5EDE0;
@backgroundSecondary: #F5EDF0;
@darkPrimaryColor: #243E36;
@nothing: rgba(0,0,0,0);

@import "styles/list-view";
@import "styles/components";
@import "styles/buttons";
@import "styles/dialog";

.notification-bar .pane{
  -fx-background-color: rgba(253,255,223,0);
}

.dialog-pane {
  .dialog-pane-default(@backgroundColor, @primaryColor);
  .tree-view {
    -fx-background-color: @backgroundColor;
    -fx-effect: dropshadow(three-pass-box,#CCC, 6, 0, 0, 0);
    .tree-cell:empty {
      -fx-background-color: @nothing;
      -fx-text-fill: @darkPrimaryColor;
    }
    .tree-cell:filled {
      -fx-background-color: @nothing;
      -fx-text-fill: @darkPrimaryColor;
    }
    .tree-cell:selected {
      -fx-background-color: @primaryColor;
      -fx-text-fill: #FFF;
      .arrow {
        -fx-background-color: #FFF;
      }
    }
  }
}

.scene {
  -fx-background-radius: 6;
  -fx-border-radius: 6;
  -fx-background-color: @backgroundColor;
  -fx-font-family: "Source Han Sans CN Normal";
  -fx-font-size: 14px;

  .txt-second {
    -fx-font-size: 13px;
  }

  .tools {
    -fx-background-color: @backgroundColor;

    .toggle-button {
      .toggle-button(@primaryColor);
    }
  }

  .sccontent {
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-style: none;
  }

  .sub-view {

    -fx-background-color: @nothing;

    .tool-pane {
      -fx-background-color: @primaryColor;
      -fx-border-style: dashed;
      -fx-border-color: @primaryColor;
      -fx-border-width: 0 1 0 0;

      .list-view {
        -fx-background-color: @nothing;
        -fx-border-color: @nothing;
        .list-cell{
          -fx-background-color: @nothing;
          &:empty * {
            -fx-background-color: @nothing;
          }
          &:filled *{
              -fx-background-color: @nothing;
              -fx-text-fill: #FFF;
          }
          &:selected *{
            -fx-text-fill: @primaryColor;
            -fx-background-color: #FFF;
          }
        }
      }
      .btn-primary{
        .btn-block(#FFF,@primaryColor);
      }
    }

    .tree-view {
      -fx-background-color: @nothing;
      .tree-cell {
        &:empty {
            -fx-background-color: @backgroundColor;
        }
        &:filled {
            -fx-text-fill: @primaryColor;
            -fx-background-color: @backgroundColor;
            -fx-effect: dropshadow(three-pass-box,rgba(204,204,204,0.8), 8, 0, 0, 0);
            -fx-padding: 8;
            -fx-border-width: 0 0 1 0;
            -fx-border-style: dashed;
            -fx-border-color: @primaryColor;
            .label {
                -fx-text-fill: @primaryColor;
            }
            &:selected {
                .label {
                    -fx-text-fill: @primaryColor;
                }
                -fx-background-color: #EBDFC2;
            }
        }
      }
    }

    .coll-pane {

        .tools {

            .button {
                -fx-background-color: @nothing;
                -fx-text-fill: @primaryColor;
                &:hover {
                    -fx-effect:dropshadow(three-pass-box,@primaryColor,12,0,0,0);
                    -fx-border-style: dashed;
                    -fx-border-width: 1;
                    -fx-border-color: @primaryColor;
                    -fx-border-radius: 999;
                }
            }

        }


        .coll-types {

            -fx-background-color: @primaryColor;

            .button {
                -fx-background-color: @primaryColor;
                -fx-background-radius: 999;
                -fx-text-fill : #FFF;
                &:hover {
                    -fx-effect: dropshadow(three-pass-box,#FFF, 8, 0, 0, 0);
                }
            }

            .tree-view {
                -fx-background-color: @nothing;
                .tree-cell {
                    &:empty {
                        -fx-background-color: @nothing;
                    }
                    &:filled {
                        -fx-text-fill: #FFF;
                        -fx-background-color: @primaryColor;
                        -fx-effect: dropshadow(three-pass-box,rgba(204,204,204,0.8), 8, 0, 0, 0);
                        -fx-padding: 8;
                        -fx-border-width: 0 0 1 0;
                        -fx-border-style: dashed;
                        -fx-border-color: #FFF;
                        .arrow {
                            -fx-background-color: #FFF;
                        }
                        .label {
                            -fx-text-fill: #FFF;
                        }
                        &:selected {
                            .label {
                                -fx-text-fill: @primaryColor;
                            }
                            -fx-background-color: #FFF;
                            .arrow {
                                -fx-background-color: @primaryColor;
                            }
                        }
                    }
                }
            }
        }
    }

    .topic-pane {

        -fx-background-color: @primaryColor;
        -fx-text-fill: #FFF;

        .tagsList {
            -fx-background-color: @nothing;
            .cell {
                -fx-background-color: @nothing;
                &:filled {
                    &:selected{
                        .tag-cell {
                            -fx-text-background-color: @primaryColor;
                            -fx-background-color: @backgroundColor;
                            -fx-text-fill: @primaryColor;
                            -fx-background-radius: 120;
                            .button {
                                -fx-background-color: @nothing;
                                -fx-text-fill: @primaryColor;
                                &:hover {
                                    -fx-effect: dropshadow(three-pass-box,@primaryColor, 8, 0, 0, 0);
                                }
                            }
                        }
                    }
                     .tag-cell {
                        -fx-border-color: @backgroundColor;
                        -fx-border-style: dashed;
                        -fx-border-width: 1;
                        -fx-border-radius: 120;
                        -fx-text-background-color: #FFF;
                    }
                    .button {
                        -fx-background-color: @nothing;
                        -fx-text-fill: #FFF;
                        &:hover {
                            -fx-effect: dropshadow(three-pass-box,#FFF, 8, 0, 0, 0);
                        }
                    }
                }
            }
        }

    }

    .topic-content {

        .text-field {

            -fx-background-color: #FFF;
            -fx-background-radius: 0;
            -fx-border-radius: 0;
            -fx-border-style: solid;
            -fx-border-color: @nothing;
            -fx-border-width: 0;
            -fx-effect: dropshadow(three-pass-box,@primaryColor, 8, 0, 0, 0);
        }

        .text-area {

            -fx-effect: dropshadow(three-pass-box,@primaryColor, 8, 0, 0, 0);
            -fx-background-color: @nothing;
            .content {
                -fx-background-color:  #F4F6E5;
            }
        }

        .list-articles {
            -fx-border-style: dashed;
            -fx-border-width: 1;
            -fx-border-radius: 8;
            -fx-border-color: @primaryColor;
            -fx-background-color: @nothing;
            .cell {
                -fx-text-background-color: @primaryColor;
                -fx-background-color: @nothing;
                .short-cell {
                    -fx-effect: dropshadow(three-pass-box,@primaryColor, 8, 0, 0, 0);
                    -fx-background-color: #FFF;
                    .button {
                        -fx-background-color: @nothing;
                        -fx-text-fill: @primaryColor;
                        &:hover {
                            -fx-effect: dropshadow(three-pass-box,@primaryColor, 8, 0, 0, 0);
                        }
                    }
                    .text-area {
                        -fx-background-color: @nothing;
                        -fx-effect: none;
                        .content {
                            -fx-background-color:  #FFF;
                        }
                    }
                    .list-view {
                        -fx-background-color: @nothing;
                        .cell {
                            -fx-background-color: @nothing;
                            &:filled {
                                -fx-background-color: @primaryColor;
                                -fx-background-radius: 8;
                                -fx-text-fill: #FFF;
                            }
                        }
                    }
                    .bottom {
                        -fx-border-width: 1 0 0 0;
                        -fx-border-color: #CFCFCF;
                        -fx-border-style: solid;
                    }
                }
            }
        }

        .list-topics {

            -fx-background-color: @nothing;
            .cell {
                -fx-background-color: @nothing;
                &:filled {

                    -fx-border-style: dashed;
                    -fx-border-width: 1;
                    -fx-border-radius: 8;
                    -fx-border-color: @primaryColor;
                    -fx-text-background-color: @primaryColor;

                    .button {
                        -fx-background-color: @nothing;
                        -fx-text-fill: @primaryColor;
                        &:hover {
                            -fx-effect: dropshadow(three-pass-box,@primaryColor, 8, 0, 0, 0);
                        }
                    }

                }
            }
        }

    }

    .article-list {
       -fx-background-color: @nothing;
      .list-cell {
        *{
          -fx-text-fill: @darkPrimaryColor;
        }
        -fx-background-color: @backgroundColor;
        .cell-view {
          -fx-background-color: @nothing;
          .tool-btn {
            -fx-background-color: @nothing;
            -fx-text-fill: @primaryColor;
            &:hover {
              -fx-background-radius: 50;
              -fx-background-color: @primaryColor;
              -fx-text-fill: @backgroundColor;
            }
          }
        }
        &:filled {
          .article-cell {
            -fx-background-color: rgb(252,252,252);
            -fx-effect: dropshadow(three-pass-box,rgba(204,204,204,0.8), 4, 0, 0, 0);
          }
        }
        &:hover{
          .article-cell {
            -fx-effect: dropshadow(three-pass-box,rgba(204,204,204,0.8), 8, 0, 0, 0);
          }
        }
        &:selected {
          .article-cell{
            -fx-background-color: #FFF;
            -fx-effect: dropshadow(three-pass-box,@primaryColor, 8, 0, 0, 0);
          }
        }
      }
    }

    .tool-second{
      -fx-background-color: @backgroundColor;
      .tool-bar {
        -fx-background-color: @backgroundColor;
        -fx-background-radius: 8px;
        .button {
          .btn-circle(@primaryColor);
        }
      }
    }

    .split-pane, &.split-pane{
      -fx-background-color: @nothing;
      .split-pane-divider{
        -fx-background-color: #EBDFC2;
        -fx-padding: 0 1 0 1;
      }
    }



    .search-pane {
        -fx-background-color: rgba(255,255,255,0.4);
        -fx-background-radius: 8px;
        -fx-border-style:dashed;
        -fx-border-color: @primaryColor;
        -fx-border-width: 0 0 1 0;
    }

  }

  .tab-pane {
        .tab-view(#FFF,@primaryColor);
        -fx-background-radius: 6;
        .prop-sheets {
          -fx-background: @backgroundColor;
          -fx-border-style: dashed;
          -fx-border-color: @primaryColor;
          -fx-border-width: 0 0 0 1;
          .label {
            -fx-font-size: 15px;
            -fx-text-fill: @primaryColor;
          }
          .tool-bar {
            -fx-background-color: rgba(245,237,240, 0.4);
          }
          .text-field{
            .text-field-bordered(@primaryColor,#FFF);
          }
          .button {
            .btn-block(@primaryColor,@backgroundColor);
          }
          .slider {
            .scrollable-config(@primaryColor,#FFF);
          }
          .check-box {
            .check-box-without-border(@primaryColor,#FFF);
          }
          .combo-box {
            .combo-box(@primaryColor,#FFF);
          }
        }
  }



  .btn-primary-text {
    .btn-no-background(#FFF,@primaryColor);
  }

  .text {
    .text-field-without-background(@primaryColor);
  }

  .btn-primary{
    .btn-block(@primaryColor,#FFF);
  }

  .btn-info {
    .btn-block(@secondaryColor, #FFF);
  }

  .context-menu{
    .context-menu(13,@primaryColor,#FFF)
  }

  .select-list {
    .list-view-simple(#FFF, #FFF, @primaryColor);
  }

  .cbx,.combo-box {
    .combo-box(@primaryColor,#FFF);
    -fx-background-color: rgba(255,255,255,0.6);
  }

  .popup{
    -fx-background-color: #FFF;
    -fx-border-style: dashed;
    -fx-border-color: @darkPrimaryColor;
    -fx-border-width: 1;
  }

  .btn-circle {
    .btn-circle(@primaryColor);
  }

  .scroll-bar {
    .scrollable(@primaryColor);
  }

  .table-view {
    -fx-background-color: @nothing;
    .column-header-background {
        -fx-background-color: @nothing;
            .filler {
                -fx-background-color:@primaryColor;
                -fx-background-radius: 0;
            }
        }
        .column-header {
            -fx-font-size: 14px;
            -fx-background-color:#EBDFC2;
            .label {
                -fx-effect:dropshadow(three-pass-box,@primaryColor,12,0,0,0);
                -fx-text-fill: @primaryColor;
            }
        }
        .table-row-cell {
            -fx-background-color: @nothing;
            -fx-table-cell-border-color: @nothing;
            &:filled {
                -fx-padding: 2;
                -fx-border-color: @primaryColor;
                -fx-border-style: dashed;
                -fx-border-width: 0 0 1 0;
                &:selected {
                    -fx-text-background-color: @primaryColor;
                    -fx-effect:dropshadow(three-pass-box,@primaryColor,12,0,0,0);
                }
            }
        }
  }

}