.root-pane{
    -fx-background-size: cover;
    -fx-font-size: 12.8px;
    -fx-font-family: "【嵐】西良文字改+";
}
.left-pane{
    -fx-background-color: rgb(218,249,202);
    -fx-effect: dropshadow(three-pass-box,#FFF,8,0,0,0);
}
.tool{
    -fx-background-color:rgba(86,163,108,0.8);
    -fx-border-width: 0 0 0 2;
    -fx-border-color: rgb(86,163,108);
    -fx-border-style: dotted;
}
.tool .toggle-button{
    -fx-background-color:rgba(86,163,108,0);
    -fx-text-fill: rgb(253,255,223);
}
.tool .toggle-button:selected{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: rgb(126,175,103);
}
.tool .circle-tog {
    -fx-background-radius: 999px;
}
.tool .circle-tog:selected {
    -fx-background-radius: 999px;
}
.tool .button{
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: #FFFFFF;
}
.tool .button:hover{
    -fx-effect: dropshadow(three-pass-box,#FFF, 18, 0, 0,0);
}
.btn{
    -fx-background-color: rgb(218,249,202);
    -fx-text-fill: rgb(86,163,108);
    -fx-border-width: 0 0 3.4 0;
    -fx-border-color: rgb(126,175,103);
    -fx-padding: 5.0;
}
.btn :pressed{
    -fx-effect: dropshadow(three-pass-box, rgb(2,64,85), 10, 0, 0,0);
}
.txt{
    -fx-background-color: rgb(218,249,202);
    -fx-border-width: 0 0 3 0;
    -fx-border-color: rgb(126,175,103);
    -fx-prompt-text-fill:  rgba(86,163,108,0.8);
}
.txt:focused{
    -fx-prompt-text-fill: rgba(0,0,0,0);
}
.tree{
    -fx-background-color: rgba(0,0,0,0);
}
.tree .tree-cell{
    -fx-background-color: rgba(0,0,0,0);
    -fx-font-size: 14px;
}
.tree .tree-cell .button{
    -fx-background-color: #2B3F52;
    -fx-text-fill: rgba(218,249,202,1);
}
.tree .tree-cell:selected .button{
    -fx-background-color: rgb(86,163,108);
    -fx-text-fill:  rgb(255,253,223);
}
.tree .tree-cell:selected * {
    -fx-text-fill: #000;
}
.tree .tree-cell:selected{
    -fx-background-color: rgba(255,253,223,0.6);
    -fx-text-fill: #000;
}
.tree-border{
    -fx-border-color: rgb(86,163,108);
    -fx-border-width: 1px;
    -fx-border-style: dashed;
}
.tree-border .tree-cell{
    -fx-background-color: rgb(218,249,202);
}
.list-bg{
    -fx-background-color: rgba(0,0,0,0);
}
.list{
    -fx-background-color: rgba(247,255,168,0.4);
}
.list .list-cell{
    -fx-background-color: rgba(0,0,0,0);
}
.code-area{
    -fx-font-size: 16px;
    -fx-background-color: rgba(247,255,168,0.2);
}
.code-area > .virtualized-scroll-pane{
    -fx-background-color: #000;
}
.code-tool{
    -fx-background-color: rgba(247,255,168,0.5);
}
.code-tool .tool-bar{
    -fx-background-color: rgba(0,0,0,0);
}
.code-tool .button{
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: rgb(86,163,108);
}
.code-tool .button:hover{
    -fx-effect: dropshadow(three-pass-box,rgb(86,163,108), 18, 0, 0,0);
}
.code-tool .label{
    -fx-text-fill: rgb(86,163,108);
}
.comb{
    -fx-background-color: rgba(0,0,0,0);
    -fx-prompt-text-fill: rgba(86,163,108,0.8);
    -fx-text-fill: rgb(86,163,108);
    -fx-border-color: rgb(86,163,108);
    -fx-border-width: 0 0 2 0;
}
.comb > *{
    -fx-text-fill: rgb(86,163,108);
}
.comb .combo-box-popup,.comb .combo-box-popup .list-view{
    -fx-background-color: rgba(253,255,223,0.8);
}
.comb .list-cell{
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: rgb(86,163,108);
}
.comb .list-cell:hover{
    -fx-background-color: #FFFFFF;
}
.comb-dark{
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: #FFFFFF;
    -fx-border-color: rgb(2,64,85);
    -fx-prompt-text-fill: rgba(2,64,85,0.8);
    -fx-border-width: 0 0 2 0;
}
.btn-ghost{
    -fx-border-color: rgba(86,163,108,0.8);
    -fx-border-width: 1px;
    -fx-border-style: dashed;
}
.btn-sel *{
    -fx-text-fill: rgb(86,163,108);
}
.btn-sel{
    -fx-background-color: rgba(0,0,0,0);
}
.btn-sel .arrow{
    -fx-background-color: rgb(86,163,108);
}
.btn-sel .context-menu{
    -fx-background-radius: 6px;
    -fx-background-color: rgba(247,255,168,0.6);
}
.btn-sel .context-menu .menu-item:focused{
    -fx-background-color: rgba(255,255,255,0.6);
}
.split-pane{
    -fx-background-color: rgba(0,0,0,0);
}
.title-field{
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: rgb(86,163,108);
    -fx-prompt-text-fill: rgba(86,163,108,0.8);
    -fx-border-color: rgb(86,163,108);
    -fx-border-width: 0 0 2 0;
}
.title-field :focused{
    -fx-prompt-text-fill: rgba(0,0,0,0);
}
.btn-normal{
    -fx-background-color: rgb(86,163,108) ;
    -fx-text-fill: #FFFFFF;
}
.list-img {
}
.list-img .list-cell{
    -fx-text-fill: #000;
}
.list-img .list-cell:focused{
    -fx-background-color: rgb(86,163,108);
    -fx-text-fill: #FFFFFF;
}
.listItem .icon-btn{
    -fx-background-color:  rgba(16,34,43,0.95);
    -fx-background-radius: 9999;
    -fx-text-fill: #FFFFFF;
}
.listItem .icon-bg{
    -fx-background-color: rgba(16,34,43,1);
}
.listItem .item-bg{
    -fx-border-color: rgb(16,34,43);
    -fx-border-width: 0.5 0 0.5 4;
    -fx-border-style: dotted dotted dotted solid;
    -fx-background-color: rgba(226,240,214,0.5);
}
.listItem .item-bg-without-border{
    -fx-background-color: rgba(226,240,214,0.5);
    -fx-border-color: rgb(16,34,43);
    -fx-border-width: 0.5 0.5 0.5 0;
    -fx-border-radius: 0 12 12 0;
    -fx-background-radius: 0 12 12 0;
}
.listItem .arrow{
    -fx-text-fill: rgb(16,34,43);
}
.listItem .title{
    -fx-text-fill: rgb(16,34,43);
    -fx-font-size: 18px;
}
.listItem .date{
    -fx-text-fill: rgb(16,34,43);
    -fx-font-size: 14px;
}
.listItem .btn-card,.table .btn-card{
    -fx-background-color: rgba(255,253,223,0.6);
    -fx-background-radius: 9999;
}
.listItem .btn-card:hover,.table .btn-card:hover{
    -fx-background-color: rgba(218,249,202,1);
    -fx-background-radius: 9999;
}
.radio,.check {
    -fx-text-fill: rgb(86,163,108);
}
.radio .radio{
    -fx-background-color: rgb(253,255,223);
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color:rgb(86,163,108);
    -fx-border-radius: 9999;
    -fx-background-radius: 9999;
}
.radio:selected .radio .dot{
    -fx-background-color: rgb(158,175,130);
}
.check .box{
    -fx-background-color: rgb(253,255,223);
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color:rgb(86,163,108);
}
.check:selected .box .mark{
    fx-background-color: rgb(158,175,130);
}
.split-pane-divider{
    -fx-background-color: rgb(157,175,130);
}
.edit-menu {
    -fx-background-radius: 0;
    -fx-background-color: rgba(247,255,168,0);
    -fx-text-fill: rgb(86,163,108);
}
.edit-menu .menu-item{
    -fx-font-size: 12px;
    -fx-background-color: rgba(247,255,168,0.8);
}
.edit-menu .menu-item:hover,.edit-menu .menu-item:selected{
    -fx-background-color: rgb(253,255,223);
}
.slider .thumb{
    -fx-background-color:rgb(208,242,179);
    -fx-effect:dropshadow(three-pass-box,rgba(79,155,106, 1),10,0,0,0);
}
.slider .track {
    -fx-background-color:rgb(253,255,223);
    -fx-border-radius: 99;
    -fx-border-width: 0.4px;
    -fx-border-color:rgb(79,155,106);
}
.scroll-bar .thumb {
    -fx-background-color:rgb(208,242,179);
    -fx-effect:dropshadow(three-pass-box,rgba(79,155,106,1),10,0,0,0);
}
.scroll-bar {
    -fx-background-color:rgb(253,255,223);
}
.scroll-bar .track {
    -fx-background-color:rgb(253,255,223);
    -fx-border-radius: 99;
    -fx-border-width: 0.4px;
    -fx-border-color:rgb(79,155,106);
}
.scroll-bar .decrement-arrow {
    -fx-background-color: rgba(79,155,106, 1);
}
.scroll-bar .increment-arrow{
    -fx-background-color: rgba(79,155,106, 1);
}
.message {
    -fx-background-color: rgb(253,255,223);
    -fx-effect:dropshadow(three-pass-box,rgba(79,155,106,1),10,0,0,0);
    -fx-font-size: 16px;
}
.dialog-pane {
    -fx-background-color: rgb(253,255,223);
    -fx-font-family: "【嵐】西良文字改+";
    -fx-font-size: 14px;
}
.dialog-pane .button {
    -fx-background-radius: 0;
    -fx-background-color: rgba(79,155,106, 1);
    -fx-text-fill: rgb(253,255,223);
    -fx-font-size: 12px;
}
.rect-selector {
    -c-background-color: #FFF;
    -c-border-color: #999;
    -c-fill-color: rgb(208,242,179);
}
.config-sheet {
    -fx-background: rgba(247,255,168,0.2);
}
.config-sheet .label{
    -fx-font-size: 14;
}
.config-sheet .tool-bar {
    -fx-background-color: rgba(247,255,168,0.4);
}
.config-sheet .text-field{
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: rgb(86,163,108);
    -fx-prompt-text-fill: rgba(86,163,108,0.8);
    -fx-border-color: rgb(86,163,108);
    -fx-border-width: 0 0 2 0;
}

.set-view {
    -fx-background-size: cover;
}
.set-view .tree {
    -fx-font-size: 12.8px;
    -fx-font-family: "【嵐】西良文字改+";
    -fx-background-color: rgb(218,249,202);
}
.set-view .list {
    -fx-font-size: 12.8px;
    -fx-font-family: "【嵐】西良文字改+";
    -fx-background-color: rgba(253,255,223,0.6);
}
.set-view .list .list-cell{
    -fx-text-fill: #000;
}
.set-view .list .list-cell:focused{
    -fx-background-color: rgb(86,163,108);
    -fx-text-fill: #FFFFFF;
}